*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgba(197, 210, 212, 1);
}

header{
    background-color: rgba(101, 104, 190, 1);
}


.navbar{
    font-family: 'Kalam', cursive;
    font-size: 25px;

}

.nav-link{
    color: black;
}



h1{
    font-family: 'Kalam', cursive;
    text-align: center;
    padding: 15px;
    text-decoration: underline 3px ;
}

.card{
    margin: 20px;
    padding: 25px;
    border: solid 3px black;

}

.card-title{
    text-align: center;
    text-decoration: underline;
}

.card-text{
    text-align: center;
}

.tarjetas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.btn{

}

/* .slider{
    padding: 40px;
    display: flex;
    grid-column: auto;
} */

/* footer */

.footer{
    background-color: rgba(101, 104, 190, 1);
}