$color-fondo:rgba(197, 210, 212, 1);

body {
    background-color: $color-fondo;
}

h1 {
    font-family: 'Kalam', cursive;
    text-align: center;
    padding: 15px;
    text-decoration: underline 3px;
}

.textos-prin {
    text-align: center;
    font-family: 'Kalam', cursive;
    text-decoration: underline 3px;

}