.nosotros-descrip {
    display: flex;
    justify-content: center;
    border: solid 2px rgba(101, 104, 190, 1);
    border-radius: 15px;
    background-color: white;
padding: 10px;

    display: flex;
    justify-content: center;
    margin: 5rem;

}

.nosotros-text {
    text-align: center;
}

.textos-prin {
    text-align: center;
    font-family: 'Kalam', cursive;
    text-decoration: underline 3px;

}