.btn {

    border: solid 2px rgba(101, 104, 190, 1);
    border-radius: 10px;
    padding: 5px;
    margin: 2px;
    text-decoration: none;
    color: black;
    background-color: rgba(197, 210, 212, 1);
    display: flex;
    justify-content: center;
}